PORT=5000

MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_here

# AI microservice URL
AI_SERVICE_URL=http://localhost:6001

# Judge microservice URL
JUDGE_SERVICE_URL=http://localhost:7000
